<div class="jumbotron">
  <div class="page-header">
    <div class="row" >
      <h1 class="col-sm-6" >Recuperação de senha. Mind Tag®</h1>
    </div>
    <div class="row">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit "Send me reset password instructions", class:'btn btn-primary'%>
        </div>
        <%= render "devise/shared/links" %>
      <% end %>
      <div class="col">
        <%= image_tag("/mind_app.png", size: "720x350") %>
      </div>
    </div>
  </div>
</div>


